.card{
    position: relative;
    left: 50%;
    margin-top: 5%;
    border: 1px solid #cfcbcb;
    border-radius: 5px;
    padding: 55px;
    background-color: #f8f1f1;
    box-shadow: 0px 0px 5px rgba(32, 31, 31, 0.377);
}
