.card{
    position: relative;
    left: 50%;
    margin-top: 5%;
    border: 2px solid #c2bebe;
    border-radius: 5px;
    padding: 55px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(14, 13, 13, 0.377);
}
