.card{
    position: relative;
    left: 50%;
    margin-top: 5%;
    border: 2px solid #beb8b8;
    border-radius: 5px;
    padding: 55px;
    background-color: #f3ecec;
    box-shadow: 0px 0px 5px rgba(19, 17, 17, 0.377);
}
